<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>

    <meta name="keywords" content="<%= @seo_keywords %>" />

    <%= stylesheet_link_tag    'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

      <!--Start of Nav-->
  		  <%= render 'shared/blog_nav' %>
    <!--End of Nav-->

    <!-- start of blog header -->
      <div class="blog-header">
        <div class="container">
          <h1 class="blog-title">Martin Mafia's Blog</h1>
          <p class="lead blog-description">This Blog is obvisiously about me and random subjects. From Firefighting,
          Software Development, Information Security, and Technology.</p>
          <%= link_to 'Create New Blog', new_blog_path if logged_in?(:site_admin) %>
        </div>
      </div>
    <!-- End of blog header -->

    
      <div class="container">
        <div class="row">
    
          
          <%= yield %>

          <!-- start of sidebar -->
              <%= render 'shared/blog_sidebar' %>
          <!-- start of footer -->
            

          <!-- end of footer -->


         

          <%= source_helper ("blog") %>
        
      </div>
       
  </body>
</html>